
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(-45deg, #ee7752, #890092, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
  -webkit-animation: gradient 10s ease infinite;
	height: 100vh;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.about-wrapper{
  height: 100vh;
}
.about-left{
  /* background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color:#fff
}
.about-left-content > div{
  background: #12192c;
  padding: 4rem 4rem 2.5rem 5rem;
  text-align: center;
  
  border-radius: 12px 12px 0 0;
}
.about-left-content{
  box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
  border-radius: 12px;
  width:80%;
}
.about-img img{
  display: block;
  border-radius: 50%;
  --s: 200px;   /* the size of the image */
  --b: 8px;     /* the border thickness*/
  --g: 14px;    /* the gap */
  --c: #BE00CA; /* the color */
  
  width: var(--s);
  aspect-ratio: 1;
  outline: calc(var(--s)/2) solid #0002;
  outline-offset: calc(var(--s)/-2);
  cursor: pointer;
  transition: .3s;
  overflow: hidden;
  transition: all 0.5s ease-in-out;

  &:hover {
    outline: var(--b) solid var(--c);
    outline-offset: var(--g);
  }
}
.shadow{
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}



.about-left-content h2{
  font-size: 2rem;
  margin: 2.2rem 0 0.6rem 0;
  line-height: 1.2;
  padding-bottom: 1rem;
  border-bottom: 2px solid #ED00FC;
}
.about-left-content h3{
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 5px;
  margin-top: 1.2rem;
}
.icons{
  background: #12192c;
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
  border-radius: 0 0 12px 12px;
}
.icons li{
  list-style-type: none;
  //background: #ED00FC;
  color: #fff;
  width: 40px;
  height: 40px;
  margin: 0 0.5rem;
  background: linear-gradient(45deg, #ee7752, #890092);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  &:hover{
    background: #edffec;
    color: #12192c;
    filter: drop-shadow(0 0 0.5rem #fccaff);
  }
}

.about-right{
  background: #12192c;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5rem;
  text-align: center;
  color:#fff;
}
.about-right h1{
  // font-size: 5rem;
  text-transform: lowercase;
  font-size: calc(20px + 18vh);
  line-height: calc(20px + 20vh);
  text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff;
  /* text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9; */
  font-family: "Sacramento", cursive;
  text-align: center;
  animation-name: blink, fade;
  animation-duration: 9s, 2s;
  animation-iteration-count: 1;
}

.about-right h2{
  font-weight: 600;
}
.about-btns{
  display: flex;
  margin: 2rem 0;
}
.btn{
  border: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  border: 2px solid transparent;
  border-radius: 20px;
  padding: 0.55rem 0;
  width: 130px;
  font-weight: 600;
  background: transparent;
  margin: 0 0.5rem;
  cursor: pointer;
  color:#fff;
}
.btn.btn-pink{
  background: linear-gradient(45deg, #ee7752, #890092);
  background-size: 120%;
  background-position: center;
  color: #fff;
  transition: all 0.5s ease-in-out;

  &:hover{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    filter: drop-shadow(0 0 0.5rem #fccaff);
  }
}

.about-para p{
  font-weight: 300;
  padding: 0.5rem;
  opacity: 0.8;
}

@media screen and (min-width: 992px){
  .about-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }

  .about-left{
    position: relative;
  }
  .about-left-content{
    position: absolute;
    width:80%;
  
  }
}
.credit{
  text-align: center;
  color: #fff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.credit a{
  text-decoration: none;
  color:#B721FF;
  font-weight: bold;
} 

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: transparent;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff, 0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  /* text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9; */
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: transparent;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  /* text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9; */
  }
}

@keyframes fade {
  40% {
    opacity: 1.0;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 1.0;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 1.0;
  }
}

@-webkit-keyframes fade {
  40% {
    opacity: 1.0;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 1.0;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 1.0;
  }
}