@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(-45deg, #310c02, #240026, #002431, #00251c);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
    -webkit-animation: gradient 10s ease infinite;
    height: 300vh;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
}

.principal{
    margin-left: 200px;
    margin-right: 50px;
    width: 85%;
    position: absolute;
    
}
.principal a{
    text-decoration: none;
}

h1{
    font-family: "Dancing Script", cursive;
    font-size: 60px;
    color: #fff;
    margin: 0 0 0px;
    text-align: center;
}

h2{
    color: #fff;
}

.holder{
    display: flex;
    margin: 10px auto 30px;
    max-width: auto;
    font-family: sans-serif;
}

.column {
    flex-direction: column;
}

.holder div { 
    height: auto;
    font-size: 1em;
    color: #fff;
    margin: 20px;
    box-shadow: 5px 5px 25px 0px #cacaca;
    border-radius: 10px;
    padding: 10px;
    /* as proriedades a partir daqui alinham o texto no centro */
    display: flex;
    /*text-align: center;
    justify-content: center;
    align-items: center;*/
}

.btn4{
    border: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 0.20rem 0;
    width: 170px;
    font-weight: 600;
    background: transparent;
    margin: 0 0.4rem 1rem;
    cursor: pointer;
    color:#fff;
  }
  .btn4.btn4-blue{
    background: linear-gradient(45deg, #02c2fd, #004792);
    background-size: 120%;
    background-position: center;
    color: #fff;
    transition: all 0.5s ease-in-out;
  
    &:hover{
      background: transparent;
      border: 2px solid #fff;
      color: #fff;
      filter: drop-shadow(0 0 0.5rem #91f0ff);
    }
  }

  .btn1{
    border: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 0.20rem 0;
    width: 170px;
    font-weight: 600;
    background: transparent;
    margin: 0 0.4rem 1rem;
    cursor: pointer;
    color:#fff;
  }
  .btn1.btn1-red{
    background: linear-gradient(45deg, #360000, #FE0000);
    background-size: 120%;
    background-position: center;
    color: #fff;
    transition: all 0.5s ease-in-out;
  
    &:hover{
      background: transparent;
      border: 2px solid #fff;
      color: #fff;
      filter: drop-shadow(0 0 0.5rem #ffffff);
    }
  }

  .btn2{
    border: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 0.20rem 0;
    width: 170px;
    font-weight: 600;
    background: transparent;
    margin: 0 0.4rem 1rem;
    cursor: pointer;
    color:#fff;
  }
  .btn2.btn2-purple{
    background: linear-gradient(45deg, #380036, #B721FF);
    background-size: 120%;
    background-position: center;
    color: #fff;
    transition: all 0.5s ease-in-out;
  
    &:hover{
      background: transparent;
      border: 2px solid #fff;
      color: #fff;
      filter: drop-shadow(0 0 0.5rem #ffc2ec);
    }
  }

  .btn3{
    border: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 0.20rem 0;
    width: 170px;
    font-weight: 600;
    background: transparent;
    margin: 0 0.4rem 1rem;
    cursor: pointer;
    color:#fff;
  }
  .btn3.btn3-pink{
    background: linear-gradient(45deg, #ee7752, #890092);
    background-size: 120%;
    background-position: center;
    color: #fff;
    transition: all 0.5s ease-in-out;
  
    &:hover{
      background: transparent;
      border: 2px solid #fff;
      color: #fff;
      filter: drop-shadow(0 0 0.5rem #ffba8f);
    }
  }