body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

.section-heading {
    font-family: "Dancing Script", cursive;
    text-align: center;
    font-size: 64px;
    color: #10996d;
    margin: 0 0 70px;
}

.container {
    display: flex;
    justify-content: center;
    width: 90%;
    max-width: 1440px;
    margin: 0 auto 80px auto;
}

.profile {
    position: relative;
    transition: all 0.3s ease-in-out;
}

.profile:hover {
    transform: translateY(25px);
}

.profile img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #f7f7f7;
    filter: drop-shadow(-20px 0 10px rgba(0, 0, 0, 0.1));
    cursor: pointer;
}

.profile:not(:first-child) img {
    margin-left: -20px;
}

.profile .nome {
    --url:url(caio/caio_nome.jpg);
    
    background: var(--url);
    background-position: center;
    background-size: 100%;
    width: 60px;
    height: 15px;
    position: absolute;
    background-color: #000;
    padding: 20px 30px;
    border-radius: 10px;
    bottom: -80px; left: 50%;
    white-space: nowrap;
    transform: translate(-50%, -50px);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.profile:not(:first-child) .nome {
    margin-left: -20px;
}

.profile .nome::before {
    content: "";
    position: absolute;
    width: 10px; height: 10px;
    background-color: #000;
    top: 0; left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.profile img:hover + .nome {
    opacity: 1;
    transform: translateX(-50%);
    box-shadow: 0 10px 20px rgba(86, 86, 198, 0.3);
}