@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(-45deg, #4f1e10, #3c053f, #093849, #04392d);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
    -webkit-animation: gradient 10s ease infinite;
	height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.principal{
    display: flex;
    margin-left: 100px;   
}


h1{
    font-family: "Dancing Script", cursive;
    font-size: 54px;
    color: #fff;
    margin: 0 0 0px;
}

.titulo {
    font-family: "Dancing Script", cursive;
    font-size: 54px;
    color: #71eaff;
    margin: 10px 5rem 70px;
    position: absolute;
  }

.aulas {
    height: 80vh;
    margin-top: 10vh;
    display: grid;
    flex-direction: row;
    align-items: center;
}

.aula_x {
    width: 95%;
    height: 50px;
    background: #12192c;
    border-radius: 15px;
    margin: 20px 70px;
    font-size: 2.5em;
    color: #AAA;
        /* as proriedades a partir daqui alinham o texto no centro */
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: "Arial", cursive;
    opacity: 20%;
    text-decoration: none;
    }

    .aula_x a{
        text-decoration: none;
        color: #AAA;
    }

.aula_x:hover{
    opacity: 90%;
}

.column {
    flex-direction: column;
}